.containerDate{
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.containerEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
/* Estilo para ajustar la altura de las filas de cada hora */
.fc-time-grid-slot {
    height: 50px; /* Ajusta el valor para personalizar la altura de las filas */
  }

.containerdeporte{
    display: flex;
    justify-content: start;
    gap: 1px;
}
.deporte{
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;
    background: #021743;
    color: aliceblue;
    font-weight: bold;
    margin: 5px 0px;
    font-size: larger;
}

.deporte:hover{
    background: #02173d;
}
.fc-toolbar{
    display: flex;
    align-items: center;
}

@media (max-width: 748px){
    .containerdeporte{
    display: flex;
    justify-content: center;
    gap: 15px;
}
}